node_modules
__snapshots__
coverage
.nyc_output
**/dist

# compiled code
apps/view/lib
packages/parser/lib
packages/plotter/lib
packages/renderer/lib

# prettier ignore
CHANGELOG.md
**/package.json
package-lock.json
