# tracespace/tracespace TravisCI configuration

language: node_js

# Node v12 (LTS Erbium) used as default in explicit job entries
node_js:
  - 12
  - 10
  - 8

script:
  - yarn test
  - yarn run coverage:upload

cache:
  yarn: true
  npm: false

_deploy_base: &_deploy_base
  provider: script
  skip_cleanup: true
  on: &_deploy_base__on
    repo: tracespace/tracespace
    all_branches: true

# use build stages with "test" and "deploy" stages
# jobs for node_js versions above automatically added to matrix "test" stage
jobs:
  include:
    - # run lints
      stage: test
      name: Lint
      script:
        - yarn run lint
        - yarn run format --check

    - # test that asset builds all work (type-checking included)
      stage: test
      name: Build assets and type definitions
      script: yarn run build:all

    - # build and publish
      if: tag =~ ^v OR (branch = master AND type != pull_request)
      stage: deploy
      name: Deploy to npm and s3
      script: yarn run build:all
      before_script:
        # set npm deploy parameters
        - npm config set //registry.npmjs.org/:_authToken $NPM_TOKEN
        - export NPM_TAG=$(node scripts/get-npm-tag.js $TRAVIS_TAG)
        # set s3 deploy parameters
        - |
          if [ $TRAVIS_BRANCH = master ]; then
            export MIXPANEL_ID=$MIXPANEL_ID_STAGING
            export AWS_S3_BUCKET=$AWS_S3_BUCKET_STAGING
          else
            export MIXPANEL_ID=$MIXPANEL_ID_PRODUCTION
            export AWS_S3_BUCKET=$AWS_S3_BUCKET_PRODUCTION
          fi

      deploy:
        - # s3 publish on master (staging) and tagged commits (production)
          <<: *_deploy_base
          script: yarn run publish:s3

        - # npm publish on tags only
          <<: *_deploy_base
          # use npm client instead of yarn for publish to npm
          script: npm run publish:npm
          on:
            <<: *_deploy_base__on
            tags: true
