sudo: false
language: node_js
node_js:
- '0.10'
- '4'
- node
matrix:
  include:
  - node_js: node
    env: TEST_BROWSERS=true
script: npm run-script ci
deploy:
  provider: npm
  email: mike@cousins.io
  api_key:
    secure: jzmmfFO5+a7HdFegeOLXGHu6J4jrZ0yUOEZPwaUfpFhkrCBlE3IT5sGWv6MHQB0FuOWhe9ecKKl07DwUj4MbbT8/m9KfL8ejprdqVmqrzms6fSRrtfmxDDlhVny2z2Y9gkFenMwMG/h9Lxu2hl+TrhgK4+6Ol9REdY7zyMH6RnkI7GXyLLymMcNqkyqaC8P2ni4hhKMMQvoYcDaPQlklX2SLS4JUvMBZ2vXI1de9xs1F+VOMXjN5UKRSEVwE2K064S6Wy9sLlmx8h3LbSPhJ2UozLfT66fW+mFttvb2yOaW62Dd/BlvbrWLxhe6l6IXJHwZ6AiT5k/8HAn4gh+pSpKBOcX7krUM8B3dQhbG2Swsmt2eTucfzwgLgL/AChUnYJMLA86F3lRuBuB+AeGBTB0k9+3IP/3yUUPaAKzMH1mZ2RvMJobKJg+Wvy6Itzd70RNEGldL9ZWAEu5flUY42ZjLSlDnb5aS+SeR0Dr2dnCe3CkYOomk0+Lecfk+AYeyPrHvLHpAhyMkQXWFU4J0jMSPnQq7UYYOj6SEHpixfFe8XehLcrnHP+hQJ9kiQd3NOnZEzvLpaATitMSMbi8s8VazKgR+r5I5whXMcz/o3hLVlLYgmiLKh1WGKbOUq6xcODOYXggX448A333UX0WyckYcAA7prlGu8cj0eIULdwHI=
  on:
    node: node
    condition: "$TEST_BROWSERS = true"
    tags: true
    all_branches: true
    repo: tracespace/pcb-stackup-core
env:
  global:
  - secure: k6fz575uWZqMBEvNIYoMxL7mgUQBOPYSTFSOgepJqCZXUZ35uGZYMK7qBrc6jP4Eg9r+LucFoLGWq84YeGr6kDXo9Rei6Xjb+kV6zCAGWegZAqPljBz2+AfaXeGvEvcdUnF6hHr0Ct1b6Ixy7wepQYdP/9+y0IIajKLHrt3pmRKDIEcPwqNc98Uf4HA1XmthGxAcLSydapgsxC+VDR3gMjROsWxexeUGFFuYlobyB/+RBkuQb1E6Etg50isx4tBComRFN4lVUjd9qPnyOeLnC14Y8fB35R3G8Q0N8Sl1YuYmfoYeOmJJg3iAsNy8JnLRoTVp16tC5uwtuBG73cNhA2cQPFVsMA4Z1HPqQzM//Ut7lL8+QWkNkXEu+7Rjvg2HPsocXmLX7wUSnnSrmsRd2WOm/hsuOnKbFT1ZcH+0z2JmIoUW6aOQ5ABQJuLKgr1WZxLKM3KOJEygXlo3rLWVpaTc47dtj24A+1GoCMqaMqty+m9TSl6GDNcHQwlYIjDBEl9R30+MtMPLxxNLfwJnKLYqn28uWo5uovh68Woq+VZYYRNZbjH1xy84rDAJig9rDjRLgaY9Ntc3EkI76yzrRZ3Wo05ELe+8yHdf2Z3H86JvSlEMWVgN3fF41OMDCqWcE6OVaA8dNJMQBZbjZhJP0JyVFkXS1T986WUMH7H1Cdo=
  - secure: Bb1oeyRboQDI0kyW1OTHvpIJNTLllKJsij2IA3jdG2sSKAYMxpLOqVXrg9NHoU/5Q72+A3jyTBVURzcldmji2zdIDwz2r1nGgOXwkRBGJueN4+NWmBCD1LXXQHWmKZxJDsrc36FcXla5NrwQTDqDyOrR/4tNkHciTL5YYukhXOGz9JFz7bE7wJL+6ggR/VcbsNJkaA/jOnpzY2yw30IG3kjGoxNKnlG8acnb7fqMHDH7UC+584uNGDTlyRFjTeMth4edfXtglglvM9wNIy7/eyhSD/kGdh/3aQAuL3QjjCACsbPambsdabM1/xMtE4O+m0XfKaIgrUWLbmflN3k5fjOU/tWSwFSQ9HM/tchgt1ht3jT0aDvoBsFN9UcZsX4nzgRTFEDgc68rguiHz0iuUsB9AiODRtkVAbanns6rkxHwIPlyQmfuWnOQLCIX+2wQC0bakKzmTeUj+08zlrvHrUUgLB2D5CKF7kaH7xPaohyv95lBk+Y0UQUlw/6Zir2Hrj2zHzx9rjF3Fn/hckH5GDX9FAz4XpqB4gVdgoYqpXtTYcpb0k3YV0mecHV8eBtDlaqFG4XzHyDSGHe11w42TIU3/uTMQfQqFzPmC7FqFN0ZeJSNe3jlFzi92f/XUs6p7WtAkJiV8NX78xmSqmNmswzXrHUxaYpt76lPFr263no=
  - secure: ku6w+6hceJ2f/+TH0TljisLo4XiD9C8MCwwcxtSLCWjRlRJ5plUcTx7+T5XB42DXugNVHFLzQ12n4GMrCIxZJ13D2/wsYxaOv/0DW2fa9bPI4405GGqgfjxtwPGnbBVLinKEFRmqwkkcm0xfufBrugFavRrXDRAMa8lc6k71z8mjOSa7aLB5pUhbAGhzDkAehsZtNwDompA83LybzV2QdNxnvBAu1pn1wlxmka3H7k1Euf1hAVb774QJyLuOvLKkMOLZLZMY2KKlaoVifwqAsi+dln95LwGA+owwRALZIybh8SAz+jAot/2lKcqOEPbR3lMZtv1mDDsZyyOO4EKFJov7wg343Kz+2MLlZ31IIPESbjMzZaMkvICohdcat7dNWZduHATeQTSRUC6lQ2dvcrM7V8saOuvXQWEaF3/97vQ+4Wk/1JeAqUC6d0ExeH5eaBpGCIiD75IXc0idOogGDCPLhWo0ujybuB47FVr7lzBYRUIx93A4jVbSBA55joPgNNjKA0JRiLOoJpy85OZPq+nErsQKxBaQv5b9mxDWOKDrV+dTdaRb8DGpKI9Lh8mGlyYUcwJGj7ngQIxL47HUdvL15gj6yF/WB8eaH4OVX2AbxQMQEObmcQ2LSD3WkMqADo8NpxN/TmTrlYHSxANcXEs9AVzCpLrJO4R/FyfQoWM=
